<div class="container">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{disabled : currentPage===0}" >
        <a (click)="currentPage = currentPage-1" class="page-link" href="#"  >Previous</a>
      </li>
      <ng-container *ngFor="let image of images ; let i =index">
      <li class="page-item" [ngClass]="setCurrentPage(i)" *ngIf="checkWindowIndex(i)">
        <a (click)="currentPage = i" class="page-link" href="#">{{i+1}}</a>
      </li>
      </ng-container>
      <li class="page-item" [ngClass]="{disabled : currentPage===images.length-1}" >
        <a (click)="currentPage = currentPage+1" class="page-link" href="#" >Next</a>
      </li>

    </ul>
  </nav>

  <div>
    <h2 >{{images[currentPage].title}}</h2>
    <img style="max-height: 300px" src="{{images[currentPage].url}}"/>
  </div>
</div>
